<!-- New Header that includes navbar -->
<header class="navigation">
    <nav class="navbar navbar-dark">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}/index.html"><img src="{{ .Site.BaseURL }}/paul-logo.png" alt="FabAcadeLogo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ .Site.BaseURL }}/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}/about/paul-cairns">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}/#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}/skillsportfolio">Skills Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}/publications">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}/videos">Videos</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>