<script type="text/javascript" src="{{ .Site.Home.RelPermalink }}assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ .Site.Home.RelPermalink }}assets/plugins/bootstrap/bootstrap.min.js"></script>
<script src="{{ .Site.Home.RelPermalink }}assets/plugins/jQuery/jquery.min.js"></script>
<script src="{{ .Site.Home.RelPermalink }}assets/js/typewrite.js"></script>

<!-- jQuery -->
<script src="{{ .Site.Home.RelPermalink }}assets/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="{{ .Site.Home.RelPermalink }}assets/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="{{ .Site.Home.RelPermalink }}assets/plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="{{ .Site.Home.RelPermalink }}assets/plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="{{ .Site.Home.RelPermalink }}assets/js/script.js"></script>
<script src="{{ .Site.Home.RelPermalink }}assets/js/typewrite.js"></script>