<link rel="stylesheet" href="{{ .Site.Home.RelPermalink }}assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ .Site.Home.RelPermalink }}assets/css/main.css?v={{ now.Unix }}">


<!-- ** Additional Plugins Needed for the Project ** -->

<!-- slick slider -->
  <link rel="stylesheet" href="{{ .Site.Home.RelPermalink }}assets/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{{ .Site.Home.RelPermalink }}assets/plugins/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="{{ .Site.Home.RelPermalink }}assets/plugins/css/css.css">

  <!-- Main Stylesheet -->
  <link href="{{ .Site.Home.RelPermalink }}assets/css/style.css" rel="stylesheet">
  <script src="{{ .Site.Home.RelPermalink }}assets/plugins/jQuery/jquery.min.js"></script>
  <script src="{{ .Site.Home.RelPermalink }}assets/plugins/bootstrap/bootstrap.min.js"></script>
  <script src="{{ .Site.Home.RelPermalink }}assets/plugins/shuffle/shuffle.min.js"></script> 
  <script src="{{ .Site.Home.RelPermalink }}assets/js/typewrite.js"></script> 
  
